<ion-view title="Configure Door">
    <md-content>
        <md-toolbar class="md-warn md-hue-1 md-default-theme">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Go back" ng-click="goBack();">
                    <span class="icon-back" style="font-size: 1.8em; position: relative; top: 6px !important;"></span>
                </md-button>
                <h2>
                    <span style="color: #fff;">Door Configuration</span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" aria-label="Refresh" ng-click="refresh()">
                    <span class="icon-refresh" style="font-size: 2.3em; position: relative; top: 6px !important;"></span>
                </md-button>
            </div>
        </md-toolbar>

        <!-- User's current integrations -->
        <md-list>
            <md-subheader class="md-no-sticky">Integrations in use: {{door.user_info_for_door.integrations.length}}
            </md-subheader>
            <md-list-item ng-repeat="integration in door.user_info_for_door.integrations">
                <p> {{ integration.name }} </p>
                <span style="margin-right: 4em;">{{integration.active && 'on' || 'off'}}</span>
                <md-switch class="" ng-model="integration.active"
                           ng-click="saveIntegration($index, integration)" aria-label="Toggle integration">

                </md-switch>
            </md-list-item>
        </md-list>
        <md-divider></md-divider>

        <!-- Available integrations user has not used-->
        <md-list>
            <md-subheader class="md-no-sticky">Integrations available: {{availableIntegrations.length}}
            </md-subheader>
            <md-list-item ng-repeat="integration in availableIntegrations">
                <p> {{ integration.name }} </p>
                <md-button class="md-fab md-primary md-mini md-hue-1" aria-label="Add integration"
                           ng-click="alterIntegration(integration.name)">
                    <span class="icon-plus" style="font-size: 2.3em; position: relative; top: 4px; right: 2px;"></span>
                </md-button>

                </md-switch>
            </md-list-item>
        </md-list>
        <md-divider></md-divider>

    </md-content>
</ion-view>
