<ion-view title="Login">
    <md-content>
        <md-toolbar class="md-warn md-hue-1 md-default-theme">
            <div class="md-toolbar-tools">
                <h2>
                    <span style="color: #fff;">Login to Intellidoor</span>
                </h2>
                <span flex></span>
            </div>
        </md-toolbar>

        <div>
            <md-input-container flex>
                <label>Email</label>
                <input ng-model="user.username">
            </md-input-container>
            <md-input-container flex>
                <label>Password</label>
                <input type="password" ng-model="user.password">
            </md-input-container>
            <md-button class="md-raised md-primary" style="width: 90vw;" ng-click="signIn(user)">Log in</md-button>

        </div>
    </md-content>
</ion-view>

<!--
<ion-header-bar class="bar-positive">
    <h1 class="title">Intellidoor</h1>
</ion-header-bar>
<ion-view view-title="Sign-In">
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Username</span>
                <input type="text" ng-model="user.username">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" ng-model="user.password">
            </label>
        </div>
        <div class="padding">
            <button class="button button-block button-balanced" ng-click="signIn(user)">
                Sign-In
            </button>
        </div>
    </ion-content>
</ion-view>
-->
